@mixin btn {
    color :white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: .7rem 1.3em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}